.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color: white;
}

#logo {
  width: 200px;
  height: 5rem;
  border: 1px solid hotpink;
  background: url("assets/friends-logo.png");
}

.hdr-link {
  margin: 50px;
  color: hotpink;
  background: greenyellow;
}

.App-link {
  color: #61dafb;
}

.friend-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.friend-card {
  margin: 10px;
  padding: 10px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;
}